<div class="col-xs-12" ng-controller="SearchMoviesCtrl">
  <form novalidate role="form">
    <div class="form-group col-xs-12">
      <input class="form-control" ng-model="params.q" ng-change="firstPage()" ng-model-options="{ debounce: 200 }" type="text" placeholder="Search movie...">
    </div>
    <div class="form-group col-sm-4 col-xs-12">
      <select class="form-control" ng-model="params.sort" ng-change="firstPage()">
        <option value="TitleAsc">Title (A-Z)</option>
        <option value="TitleDesc">Title (Z-A)</option>
        <option value="ImdbRatingDesc">IMDb Rating</option>
        <option value="ImdbVotesDesc">IMDb Votes</option>
        <option value="ReleasedDesc">Newer first</option>
        <option value="ReleasedAsc">Older first</option>
      </select>
    </div>
    <div class="form-group col-sm-4 col-xs-12">
      <select class="form-control" ng-model="params.pageSize" ng-change="firstPage()">
        <option value="12">12 results</option>
        <option value="24">24 results</option>
        <option value="48">48 results</option>
        <option value="96">96 results</option>
      </select>
    </div>
    <div class="form-group col-sm-4 col-xs-12">
      <select class="form-control" ng-model="displayModus">
        <option value="thumb">Show Posters</option>
        <option value="detail">Show Detail</option>
      </select>
    </div>
  </form>
  <div class="search-results" ng-hide="userMessage">
    <p>{{size}} results {{ pageInfo() }}</p>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 thumb" ng-repeat="movie in movies" ng-show="displayModus == 'thumb'">
        <a href="#/movie/{{movie.imdbID}}">
          <img class="img-responsive img-rounded" ng-src="{{movie.poster}}" alt="{{movie.title}}">
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 detail" ng-repeat="movie in movies" ng-show="displayModus == 'detail'">
        <div class="detail-info" ng-click="go(movie.imdbID)">
          <img class="img-responsive img-rounded" ng-src="{{movie.poster}}" alt="{{movie.title}}">
          <h4>{{movie.title}} ({{movie.released * 1000 | date : 'yyyy' }})</h4>
          <p>{{movie.plot}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <button ng-click="firstPage()" class="form-control btn btn-default col-xs-3"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></button>
      </div>
      <div class="col-xs-3">
        <button ng-click="prevPage()" class="form-control btn btn-default col-xs-3"><span class="glyphicon glyphicon-chevron-left"></span></button>
      </div>
      <div class="col-xs-3">
        <button ng-click="nextPage()" class="form-control btn btn-default col-xs-3"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
      <div class="col-xs-3">
        <button ng-click="lastPage()" class="form-control btn btn-default col-xs-3"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
  <div ng-show="userMessage">
    <p>{{userMessage}}</p>
  </div>
</div>