<div class="col-xs-12">
  <form novalidate>
   <input ng-model="params.q" ng-change="firstPage()" ng-model-options="{ debounce: 200 }" type="text" placeholder="Search movie">
    <select ng-model="params.sort" ng-change="firstPage()">
      <option value="TitleAsc">Title (A-Z)</option>
      <option value="TitleDesc">Title (Z-A)</option>
      <option value="ImdbRatingDesc">IMDb Rating</option>
      <option value="ImdbVotesDesc">IMDb Votes</option>
      <option value="ReleasedDesc">Newer first</option>
      <option value="ReleasedAsc">Older first</option>
    </select>
    <select ng-model="params.pageSize" ng-change="firstPage()">
      <option value="10">10 results</option>
      <option value="20">20 results</option>
      <option value="50">50 results</option>
      <option value="100">100 results</option>
    </select>
  </form>
  <div class="search-results" ng-hide="searching">
   <h2>{{size}} results {{ pageInfo() }}</h2>
   <ul>
     <li ng-repeat="movie in movies">
       <a href="#/movie/{{movie.imdbID}}">{{movie.title}}</a>
     </li>
   </ul>
    <button ng-click="prevPage()">Previous</button>
    <button ng-click="nextPage()">Next</button>
    <div ng-show="error" class="error">Unable to connect to server.</div>
  </div>
  <div class="searching" ng-show="searching">
    Searching...
  </div>
</div>